.landing{
    background-color:var(--white);
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 40px;
    z-index: 2;
    box-sizing: border-box;
}
.landing-container{
    margin-top:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%;
    height:100vh
}
.landing-container .vector{
    position:absolute;
    left: -100px;
    top: -40px;
    z-index: 1;
}
.landing-container .vector2{
    position:absolute;
    right: -100px;
    bottom: -200px;
    z-index: 1;
}
.landing-left{
    width:55%;
    box-sizing: border-box;
    padding-right:100px
}
.landing-left h1{
    font-size:82px;
    
}
.landing-left p{
    font-size:16px;
    line-height:180%;
    font-weight:400;
    font-family: Poppins;
}
.landing .arrow{
    margin-top:-5vh
}
.landing-left button{
    width:fit-content;
    border-radius:2px;
    background-color:var(--yellow);
    color:black;
    border: none;
    outline: none;
    font-family:Poppins;
    padding:15px 30px;
    font-size: 14px;
    font-weight:600;
    margin: 30px 0px;
}
.landing-right{
    width:45%;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    align-items:center;
    height:75%;
    margin: 0px -10px;
}
.landing-right img{
    height:100%;
    margin:0px 10px
}