.about{
    min-height: 100vh;
    height: auto;
    background-color:var(--white);
    position: relative;
}
.circle1,.circle2{
    height:200px;width:200px;
    background-color:rgba(11,119,79,0.5);
    border-radius: 50%;
    position:absolute;

}
.circle3,.circle4{
    height:200px;width:200px;
    background-color:rgba(241,184,28,0.4);
    border-radius: 50%;
    position:absolute;
  
}
.circle3{
    left:-160px;
    top:50px

}
.circle4{
    left:-160px;
    top:90px
}
.circle1{
    bottom:60px;
    right:-120px;
}
.circle2{
    bottom: 90px;
    right:-120px;
}

.about-container{
    margin: 0 3.5%;
    width: 93%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:5vh 0px;
    height:100%
}
.about-container .vector{
    position:absolute;
    left: -50px;
    top: -300px;
    z-index: 1;
}
.about-desc{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width:45%;
    box-sizing: border-box;
}
.about-desc .about-info{
    height:auto;
    padding-right: 18%;
}
.about-desc .about-info .about-lines{
    display: flex;
    width:80%;
    margin-bottom: 10px;
}
.about-desc .about-info .span{
    background: -webkit-linear-gradient(#E65C00, #F9D423);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-desc .about-info h1{
    font-size:100px;
    padding-bottom:10px;
    border-bottom:1.5px solid white;
    color:black;
    margin-right: 15%;

}
.about-desc .about-info p{
    color:black;
    font-family: 'Gotham-Light';
    font-size: 18px;
    padding:5px 0px;
    font-weight: 600;
    line-height:130%
}
.about-images{
    width:55%;
    box-sizing: border-box;
    padding:100px 0px;
}
.about-images .pic-top{
    display:flex
}
.about-images img{
    box-shadow: 4px 4px 20px rgba(255,101,62,0.2);
    border-radius: 20px;
}
.about-info button{
    width:fit-content;
    border-radius:2px;
    background-color:var(--yellow);
    color:white;
    border: none;
    outline: none;
    font-family:Poppins;
    padding:15px 30px;
    font-size: 16px;
    margin: 10px 0px;
}