.journey{
    min-height: 100vh;
    height: auto;
    background-color:var(--black);
    position: relative;
}
.jcircle1,.jcircle2{
    height:200px;width:200px;
    background-color:rgba(241,184,28,0.4);
    border-radius: 50%;
    position:absolute;
  

}
.jcircle3,.jcircle4{
    height:200px;width:200px;
    background-color:rgba(0,78,163,0.4);
    border-radius: 50%;
    position:absolute;
  
}
.jcircle3{
    right:-160px;
    top:30%

}
.jcircle4{
    right:-160px;
    top:35%
}
.jcircle1{
    bottom:60px;
    left:-120px;
}
.jcircle2{
    bottom: 90px;
    left:-120px;
}

.journey-container{
    margin: 0 5%;
    width: 90%;
    display:flex;
    justify-content:center;
    align-items:center;
    box-sizing: border-box;
    position:absolute;
    height:100%
}
.journey-desc{
    height: 100%;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
    width:50%;
    box-sizing: border-box;
    padding:15vh 0px
}
.journey-desc .journey-info{
    height:auto;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.journey-desc .journey-info h1{
    font-size:100px;
    padding-bottom:10px;
    color:white;
  

}
.journey-desc .journey-info .journey-lines{
    display: flex;
    width: 100%;
}
.journey-desc .journey-info p{
    color:white;
    font-family:Poppins;
    font-size: 20px;
    padding:30px 0px;
    font-weight: 300;
    text-align:center;
    line-height:130%
}
.journey-desc .journey-info .span{
    background: -webkit-linear-gradient(#757F9A, #D7DDE8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.journey-images{
    width:55%;
    box-sizing: border-box;
    padding:100px 0px;
}
.journey-images .pic-top{
    display:flex
}
.journey-images img{
    box-shadow: 4px 4px 20px rgba(78,43,208,0.2);
    border-radius: 20px;
}