@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Gotham-Light';
  src: url('./fonts/Gotham-Light.otf');
}
@font-face {
  font-family: 'Gotham-Light-Italic';
  src: url('./fonts/GothamLightItalic.ttf');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('./fonts/GothamMedium.ttf');
}
@font-face {
  font-family: 'Gotham-Medium-Italic';
  src: url('./fonts/GothamMediumItalic.ttf');
}
*{
  padding: 0;
  margin: 0;
  line-height: 115%;
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
  
}
body{
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  background:rgb(212, 212, 212) !important;
  width:10px;
  z-index: 99999;
  
}
body::-webkit-scrollbar-thumb{
  background-color: rgb(63, 63, 63);    
  border-radius:0px;    
  z-index: 99999;
}
